.content {
    background-color: $color-white-2;
    .product-title {
        display: block;
        text-align: center;
        @include style-header($fs-2, $fw-2, $color-black-0)
    }

}

.item {
    margin: 10px 0;
}

.card {
    margin: 5px;
    border-radius: 10px;
    background-color: $color-white-4;
    @include style-text($fs-2, $color-dark-2);

    .card-head {
        text-align: center;
    }

    .card-body {
        height: 250px;
    }
    .card-text p{
        margin-bottom: 0 !important;
    }

}

.buyItem {
    position: relative;
    bottom: 10px;
    color: $color-dark-4;
    padding: 5px 10px;
    background-color: $color-blue-4;
}
