
.input-cart {
    .gioHang-img {
        width: 50px;
    }

    .gioHang-title {
        border: 1px solid black;

    }

    .gioHang-img {
        width: 50px;
    }

}

.tablefooder {
    display: block;
    align-items: center;
    text-align: center;
}
